html, body {height: 100%;}
.img-item-info {
    position: relative;
    z-index:9;
    .img-desc {
        padding-top:20px;
        font-size:22px;
        color:#fff;
        opacity: 1;
        &:before {
            content: '';
            width:34px;
            height:34px;
            background:url(../imgs/home-icon.png) no-repeat -81px 0;
            display: inline-block;
            margin: 0 20px;
            margin-right: 10px;
            position: relative;
            top: 7px;
        }
        &.question { 
            &:before {
                background-position:-45px 0;
            }    
        }
         &.run { 
            &:before {
                background-position:0px 0;
            }    
        }
    }
}


@media screen and (max-width: 1200px) {
   .img-item-info .img-desc {font-size:19px;}
}
