html, body {height: 100%;}
body {
   background-image: url('/imgs/register-bg.jpg');
}
.form-wrap {
    position:absolute;
    left:50%;
    top:50%;
    width: 334px;
    cursor: pointer;
}

.text-title {
    &:before {
        content: '';
        width:48px;
        height:48px;
        background: url('/imgs/register-title.png') no-repeat 0 0;
        display: inline-block;
        margin-right: 15px;
        vertical-align: bottom;
    }
}

.form-group {
    width:330px;
    height:36px;
    margin:7px 0;
    border:2px solid #fff;
    color:#fff;
    display: inline-block;
    label {
        display: inline-block;
        width:82px;
        height:100%;
        line-height:36px;
        text-align: right;
        text-indent: 15px;
        &.indent-handle {
            text-indent: -3px;
        }
    }
    input {
        font-size:12px;
        width: 222px;
        height:100%;
        line-height:36px;
        padding-right:10px;
        display: inline-block;
        background:none;
        border:none;
        color:#333;
        background-color: transparent; 
        &:focus {
            border-color:#4cae4c;
        }
    }
    &.valid-psw {
       width:240px;
       input {
           width:132px;
        }
    }
}

.btn-group {
    .btn {
        text-align: center;
        display: inline-block;
        border:1px solid #fff;
        color:#fff;
        text-align: center;
        &-sm {
            width:75px;
            height:36px;
            line-height:36px;
            font-size:12px;
        }
        &-md {
            height:36px;
            line-height:36px;
            font-size:12px;
        }
        &-block {
            width:100%;
            height:36px;
            line-height:36px;
            display: block;
            font-size: 18px;
        }
        &.btn-success {
            background-color:#acd04c;
            border-color:#acd04c;
            &:active {
                background-color: #acd04c;
                border-color: #acd04c;
            }
        }
        &.btn-outline-success {
            &:hover {
                cursor:pointer;
                background-color: #9fbf4a;
                border-color: #9fbf4a;
            }
            &:active {
                background-color: #8aa542;
                border-color: #8aa542;
            }
        }
    }
}

.border-success {border-color: #acd04c;}
.border-primary {border-color: #2e6da4;}

/* 媒巡 */

/* 1200 */
.wrapper.index {
    top: 110px;
}
.wrapper .big-title {
    margin-top: -216px;
}
.wrapper .big-title h2 {
    font-size: 35px;
}
.form-wrap {
   margin: -154px 0 0 -167px;
}

@media screen and (min-width: 1201px) and (max-width: 1600px) { 
    .wrapper .big-title {
      margin-top: -217px;
    }
}

@media screen and (min-width: 1601px) { 
    .wrapper.index {
        top: 75px;
    }
    .wrapper .big-title {
        margin-top: -234px;
    }
    .form-wrap {
        width: 534px;
       margin: -154px 0 0 -267px;
    }
    .form-group {
        width: 530px;
        height:52px;
        font-size:16px;
        label {
            width:102px;
            line-height: 52px;
        }
        input {
            font-size:16px;
            width: 408px;
        } 
        &.valid-psw {
            width:360px;
           input {
               width:232px;
            }
        }   
    }
    /*按钮*/
    .btn-group {
        .btn {
            &-sm {
                width: 118px;
                font-size: 16px;
                height: 52px;
                line-height: 52px;
            }
            &-block {
                height: 52px;
                line-height: 52px;
                font-size: 22px;
            } 
        }
    }
    
}

/*===== 业务 =====*/
.short-msg {
    margin:7px 0;
    float:right;
    .btn {
        border:2px solid #fff; 
    }
}


.clear {
    clear:both;
}
