.m_t15 {margin-top:15px!important;}
.m_t20 {margin-top:20px!important;}

html,body {height:100%;}
body {
   background-image: url('../imgs/index-bg.jpg');
   background-repeat: no-repeat; 
   background-attachment:fixed;
   background-size:cover ;
   min-width: 1200px;
}

.container {width:1200px;margin:auto;}

.wrapper {
    position:absolute;
    top:121px;
    left:0;
    right:0;
    bottom:90px;
    overflow: hidden;
    overflow-y: auto;
    .container {
        position:relative;
        margin: 0 auto;
        overflow: hidden;
        overflow-y: auto;
        .text-center {
           width:100%;
           overflow: hidden;
           font-size: 24px;
           text-align: center;
           margin-bottom:100px;
        }
    }
}


/*头部样式*/
.navbar {
    position:relative;
    top:0;
    left:0;
    width:100%;
    padding:5px 0;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    color:#fff;
    .container{height:100%}
    .nav-brand {
        display:inline-block;
        width:200px;
        overflow: hidden;
        vertical-align: middle;
        img{
            width:100%;
            height:auto;
            vertical-align: middle;
            display: inline-block;
        }
    }
    .nav-list {
        display: inline-block;
        vertical-align: middle;
        li {
            display:inline-block;
            vertical-align: middle;
            padding: 0 16px;
            font-size:18px;
            &:first-child {
               margin-left: 18px;
            }
        }
    }
    .nav-right {
        display: inline-block;
        vertical-align: middle;
    }
    .tab-group {
        font-size:0;
        .tab {
            padding-top: 24px;
            font-size:14px;
            display: inline-block;
            float:right;
            cursor:pointer;
             &:before { 
                content: '';
                width:15px;
                height: 22px;
                display: inline-block;  
                vertical-align: bottom;
             }
             &:first-child {
                 margin-left: 15px;
                &:before {
                   width: 22px;
                   background: url(../imgs/nav-icon.png) no-repeat 0px 0px;
                   margin-right: 5px;
                }
                &+span {
                     margin-left: 15px;
                     &:before {
                         width: 24px;
                         background: url(../imgs/nav-icon.png) no-repeat -70px 0px;
                          margin-right: 7px;
                          position: relative;
                          top: 1px;
                     }
                    &+span {
                       &:before {
                           background:url(../imgs/nav-icon.png) no-repeat -48px 0;
                           margin-right:10px;
                        }
                    }
                }
            }
        }
    }
    .tel {
       padding: 11px 0;
       font-size:24px;  
       padding-left:30px;
        &:before { 
            content: '';
            width:18px;
            height: 24px;
            display: inline-block; 
            background:url(../imgs/nav-icon.png) no-repeat -24px 0;
            vertical-align: text-bottom;
        }
       a {color:#fff;position:relative\0;top:3px\0;} 
    }
}


.footer{
    min-width:1200px;width:100%;overflow:hidden;background-color: rgba(0,0,0,.3);padding:20px 0;
    color:#fff;
    &.index{
       position:absolute;bottom:0;left:0;
    }
    .footer-list {
        li {
            font-size:16px;
            display: inline-block;
            padding-right:12px;
            &:after {
                content: '|';
                display:inline-block;
                color:#fff;
                padding-left:12px;
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }
    .put-records {
        font-size:13px;margin-top:12px;
        a {
            color:#fff;
            :hover {color:#fff;}
        }
    }
}


@media screen and (min-width: 1201px) and (max-width: 1600px) {
   .navbar{padding:10px 0}
   .footer{padding:20px 0 }
}

@media screen and (min-width: 1601px) {
     .navbar{padding:20px 0;}
     .footer{padding:30px 0 }
     .wrapper {
            top:139px;
            bottom:110px;
        .img-item{
              margin: -150px 0 0 -590px;
              width:250px;
              height:320px;
              &+.img-item {
                  margin: -150px 0 0 -145px;
                  &+.img-item {
                     margin: -150px 0 0 300px;
                  }
              }
          }
    }
}

/* 表单共用标题 * */
.text-title {
    &:before {
        content: '';
        width: 32px;
        height: 32px;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        top: 5px;
    }
}


/*针对登录、注册  定制layui*/
.logReg {
    .big-title {
            text-align: center;line-height: 86px;font-size:24px;color:#fff;margin-top:20px;
            img {margin:0 auto;}
        }
    .layui-form {
        .layui-form-item {
            .layui-block, .layui-inline {border:2px solid #fff;}
            .layline-clear {border:none;}
            .layui-input-inline.vaild-psw {width:130px;}
            .layui-form-label {font-size:14px;color:#fff;}
            .layui-input {background:transparent;border:none;font-size: 14px;}
            input::-webkit-input-placeholder {color:#fff;}
            /*短信验证按钮*/
            .valid-msg {
                border:2px solid #fff;
                height:42px;color:#fff;background:transparent;
                &:hover {border-color:#acd04c;background:#acd04c;}
            }
            
        }
    }
    .c-submit-btn {background:#acd04c;}
    .valid-img {   width:96px;height: 42px; color: #fff; background: 0 0;cursor: pointer;}
    .layui-form-checkbox[lay-skin=primary] span {color:#fff;}
    .forget-psw {display:inline-block;height:28px;margin-top: 10px;cursor: pointer;text-decoration: underline;color:#fff;}
    .tips-section {
        text-align:center;color:#fff;
        a {color:#fff;text-decoration: underline;cursor: pointer;}
        .time {
            background:rgba(0,0,0,0.3);
            padding:10px;
        }
    }    
    h2.tips-section {
        font-size:20px;
    }
    h3.tips-section {font-size:16px; }
    h4.tips-section {font-size:13px;}

}

/*drag*/
#slider {
    width: 100%;
    height: 36px;
    position: relative;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
   vertical-align: middle;
}
#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7AC23C;
  z-index: 1;
}

#label {
  width: 36px;
  height: 38px;
  border-right:2px solid #accf4b;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #ff9e77;
  font-size: 16px;
  font-weight: 900;
  background:url(../imgs/move-slider.png) no-repeat;
  background-size: cover; 
}

#labelTip {
  position: absolute;
  left: 0; 
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 36px;
  text-align: center;
  z-index: 2;
}
